@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



.grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
}

nav {
    background-color: cornflowerblue;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
}

body {
    font-family: Roboto;
    padding-left: 20px;
}

main {
    padding: 16px;
    margin-bottom: 50px;
}

h1 {
    color: darkturquoise;
}

h2 {
    color: darkturquoise;
}

h3 {
    font-family: cursive;
}

p {
    text-transform: uppercase;
    color: rgb(11, 170, 117);
    font-size: smaller;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
}

nav {
    border: 1px;
    border-color: black;
    padding: 16 px;
}

.navbar {
    color: rgb(13, 2, 37);
}

a {
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px darkturquoise;
}

a:hover {
    color: darkturquoise;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

footer {
    background-color: darkslateblue;
    color: darkgrey;
    height: 20px;
    padding-left: 40px;
}

tr:nth-child(even) {
    background-color: aquamarine;
}

tr:nth-child(1) {
    background-color: darkslateblue;
    color:darkgrey
}
